# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [ ]:
'python'[::-1]

# 2. Define variables `apples` and `oranges` and using `format` methos print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [ ]:
>>> apples = 7
>>> oranges = 5
>>> print ("I have {0} apples and {1} oranges, therefore I have {2} fruits.".format(apples, oranges, apples+oranges))

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [ ]:
"".join(['a','b','c'])

# 4. Get difference betweet two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [ ]:
temp1 = ['1','2','3','4','8','12']
temp2 = ['1','4','8','2']
list(set(temp1) - set(temp2))

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [ ]:
tuple_numbers = tuple_numbers + (9,)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [ ]:
''.join(what_i_want_to_do)

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

names2.update(names1)
print (names2)

In [ ]:
names2.update(names1)
print (names2)

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [ ]:
sum(ice_cream_price.values())

# 9. Remove item(s) from set. Can you gess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [ ]:
var1, var2, var3 = color
print(var1)
print(var2)
print(var3)

# BONUS: test whether every element of first set is in second set ans vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [ ]:
diff = set_b.difference(set_a)
result = len(diff)==0